.slide1 {
  background: center no-repeat url("../img/travel/dudipatsar-lake-pakistan.jpg");
  background-size: cover;
}

.slide2 {
  background: bottom no-repeat url("../img/travel/deosai-national-park.jpg");
  background-size: cover;
}

.slide3 {
  background: center no-repeat url("../img/travel/malam-jabba-pakistan.jpg");
  background-size: cover;
}

.slide4 {
  background: center no-repeat url("../img/travel/faisal-mosque-pakistan.jpg");
  background-size: cover;
}

.slide5 {
  background: bottom no-repeat url("../img/travel/hunza-valley-pakistan.jpg");
  background-size: cover;
}